<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
</head>
<body>
    <h1 style="text-align: center;">Upload file tester...</h1>
    <form enctype="multipart/form-data" action="http://127.0.0.1:5000/" method="POST">
        <!-- <input type="hidden" name="MAX_FILE_SIZE" value="100000" /> -->
        Choose a file to upload: <input name="file" type="file" multiple="multiple"/><br />
        <input type="submit" value="Upload File" />
    </form>
</body>
</html>